/*========= Site Header =========*/
.site__header {
    background-color: #fff;
    padding: 1rem 0;
}

.site__header.shrink {
    -webkit-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
    -moz-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
    box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .site__header {
        padding: 0;
    }
    .site__header ul {
        max-width: 150px;
    }
    .site__header .navbar-brand {
        padding: 1rem 0;
    }
}

.site__header li {
    margin-right: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.site__header .hightlight {
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid white;
    border-radius: 5px;
}

.site__header li a {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

.site__header li:hover a,
.site__header li a.active {
    color: #ff7200 !important;
}

.site__header li:hover .hightlight,
.site__header a.active ~ .hightlight {
    border: 2px solid #ff7200;
}
/*========= End Site Header =========*/

/*========= Site Hero Img =========*/
.site__hero-img {
    margin-top: 108px;
}

@media only screen and (max-width: 600px) {
    .site__hero-img {
        margin-top: 90px;
    }
}

.site__hero-img .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

.site__hero-img .carousel-item img {
    max-height: 800px;
}

.site__hero-img .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__hero-img .slogan p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.site__hero-img .slogan p:last-child {
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background: #ff8002; /* Old browsers */
    background: -moz-linear-gradient(
        45deg,
        #ff8002 0%,
        #ff4001 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        45deg,
        #ff8002 0%,
        #ff4001 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        45deg,
        #ff8002 0%,
        #ff4001 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8002', endColorstr='#ff4001',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media only screen and (max-width: 600px) {
    .site__hero-img .slogan p,
    .site__hero-img .slogan p:last-child {
        font-size: 1rem;
    }
    .site__hero-img .slogan p:last-child {
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}
/*========= End Site Hero Img =========*/

/*========= Site Services =========*/
.site__services {
    position: relative;
}

.site__services > .row {
    width: 100%;
    margin-top: 2rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .site__services > .row {
        margin-top: -4rem;
        -webkit-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
        -moz-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
        box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
        border-radius: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .site__services > .row {
        width: 80%;
        padding: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .site__services > .row {
        width: 70%;
    }
}

.site__services p {
    font-size: 0.8rem;
    color: rgba(65, 65, 65, 0.75);
    margin-bottom: 0;
}

.site__services .item {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site__services .item > div:first-child {
    height: 5rem;
}

@media only screen and (min-width: 768px) {
    .site__services .item > div:first-child {
        height: 4rem;
    }
}

.site__services .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
    .site__services .circle {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .site__services .circle::before,
    .site__services .circle::after {
        display: inline-block;
        content: '';
        border-top: 0.1rem solid rgba(204, 204, 204, 0.75);
        width: 100%;
    }

    .site__services .item:first-child .circle::before,
    .site__services .item:last-child .circle::after {
        border: none;
    }
}
.site__services h4 {
    font-weight: bold;
}

.site__services p {
    padding-right: 1rem;
    padding-left: 1rem;
}
/*========= End Site Services =========*/

/*========= Site About Us =========*/
.section-no-bg {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 576px) {
    .section-no-bg {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}

.site__about-us > .row > div:nth-child(2) {
    padding-left: 4rem;
    padding-right: 4rem;
}

@media only screen and (min-width: 576px) {
    .site__about-us > .row > div:nth-child(2) {
        padding-left: 5rem;
    }
}

.section-no-bg .title {
    flex-direction: column;
}

.section-no-bg .title h2 {
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/*========= End Site About Us =========*/

/*========= Site Technologies =========*/
.section-bg {
    padding: 2rem 0;
}

@media only screen and (min-width: 576px) {
    .section-bg {
        padding: 4rem;
    }
}

.section-bg h2 {
    font-weight: 600;
    color: white;
    text-align: center;
    font-size: 2rem;
}

@media only screen and (min-width: 576px) {
    .section-bg h2 {
        font-size: 3rem;
    }
}

.site__technologies {
    background-image: url('../images/10-tech-image.png');
}

.site__technologies img {
    max-height: 4rem;
}

@media only screen and (min-width: 576px) {
    .site__technologies img {
        max-height: 6rem;
    }
}

.site__technologies h3 {
    color: white;
    margin-top: 0.5rem;
    font-size: 1rem;
}

@media only screen and (min-width: 576px) {
    .site__technologies h3 {
        color: white;
        margin-top: 0.5rem;
        font-size: 1.75rem;
    }
}

.site__technologies > div {
    width: 80%;
    margin: auto;
}

.site__technologies .tech-item {
    text-align: center;
    padding: 1rem;
}

.site__technologies .tech-item div {
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    padding: 1rem;
}

@media only screen and (min-width: 576px) {
    .site__technologies .tech-item div {
        padding: 2rem;
    }
}

.site__technologies .tech-item div:hover {
    background-color: #ff73006c;
}
/*========= End Site Technologies =========*/

/*========= Site Partners =========*/
.site__partners > div {
    padding: 0 4rem;
}

@media only screen and (min-width: 576px) {
    .site__partners > div {
        padding: 0;
    }
}

.site__partners .row.title {
    flex-direction: column;
}

.site__partners .item {
    margin: 0 1rem;
}

@media only screen and (min-width: 576px) {
    .site__partners .item {
        padding: 2rem;
        margin: 0 1rem;
    }
}

.site__partners .owl-carousel .owl-stage {
    display: flex;
}

.site__partners .owl-carousel .owl-item .item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__partners .testimonials {
    margin-top: 4rem;
}

.site__partners .testimonials .owl-item img {
    width: auto;
}

.site__partners .testimonials .owl-item .row {
    margin-right: 0;
    margin-left: 0;
}

.site__partners .testimonials button {
    padding: 0.8rem 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    .site__partners .testimonials button {
        padding: 1rem 1.5rem;
    }
}

@media only screen and (max-width: 576px) {
    .site__partners .testimonials p.client-info ~ div {
        text-align: center;
    }
}

.site__partners .testimonials button:hover {
    background: #ff8002; /* Old browsers */
    background: -moz-linear-gradient(
        45deg,
        #ff8002 0%,
        #ff4001 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        45deg,
        #ff8002 0%,
        #ff4001 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        45deg,
        #ff8002 0%,
        #ff4001 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8002', endColorstr='#ff4001',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.site__partners .testimonials button:hover i {
    color: white;
}

.site__partners .testimonials button i {
    color: rgb(65, 65, 65);
    font-weight: 200;
}

.site__partners .testimonials .owl-nav {
    display: none;
}

.site__partners .quote-icon {
    margin-bottom: 1rem;
}
/*========= End Site Partners =========*/

/*=========  Site Case Study =========*/
.site__case-study {
    background-image: url('../images/10-tech-image.png');
}

.site__case-study .btns {
    justify-content: space-around;
}

.site__case-study .btns button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.site__case-study .btns button:hover {
    border-bottom: 3px solid #fe4b00;
}
/*========= End Site Case Study =========*/

/*========= Site Stats =========*/
.site__stats {
    margin-bottom: 4rem;
}

.site__stats .row {
    background-color: white;
    padding: 2rem 0;
}

@media only screen and (min-width: 576px) {
    .site__stats .row {
        margin-top: -4rem;
        -webkit-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
        -moz-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
        box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.07);
        border-radius: 2.5rem;
    }
}
.site__stats .item {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.site__stats svg {
    width: 4rem;
    height: 6rem;
}

.site__stats .item:nth-child(2) svg {
    width: 5.5rem;
}

.site__stats .content {
    margin-left: 1rem;
}

.site__stats .item:nth-child(2) {
    border-left: 1px solid rgba(202, 202, 202, 0.404);
    border-right: 1px solid rgba(202, 202, 202, 0.404);
}
.site__stats .content p:first-child {
    color: #a5a5a5;
    margin-bottom: -0.5rem;
}

.site__stats .content p:nth-child(2) {
    font-size: 3rem;
    font-weight: 400;
}
/*========= End Site Stats =========*/
html,
body {
    font-family: 400 1rem Montserrat, sans-serif;
    color: #000;
    overflow-x: hidden;
}

h1 {
    color: #fafafa;
    font-weight: 800;
    margin-bottom: 30px;
}
h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 800;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

/*
.jumbotron {
	background-color: #f4511e;
	color: #fff;
	padding: 100px 25px;
}

.slideanim {
	visibility: hidden;
}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

.navbar {
	position: fixed;
	width: 100%;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-logo {
	margin-left: 80px;
	margin-bottom: 5px;
	height: 30px;
	width: auto;
}

.nav-item {
	color: #fff !important;
	margin-right: 5%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.navbar-brand {
	margin-left: 10%;
	margin-right: 10%;
}
a:hover {
	color: #5dbcd2 !important;
}

.logo-small {
	color: #f4511e;
	font-size: 50px;
}
.logo {
	color: #f4511e;
	font-size: 200px;
}

.client-logo-container {
	text-align: center;
}
.client-cover {
	width: 200px;
	height: 150px;
	position: relative;
	border: 1px solid rgb(165, 161, 161);
	border-radius: 10%;
}
.client-cover:hover {
	background: rgba(244, 112, 30, 0.6);
	border: none;
}

.client-title-container {
	margin-top: 30px;
	text-align: center;
}

.client-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 25px;
	transform: translate(-50%, -50%);
}
.client-cmt > h3 {
	color: #f4511e;
}
.client-info {
	color: #333333;
	margin-left: 10px;
}

.next-btn {
	background-color: #f4511e;
	color: #f4511e;
}
.owl-prev,
.owl-next {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
}

.owl-prev {
	left: -1rem;
}

.owl-next {
	right: 0rem;
}
.card {
	margin-top: -20px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	display: inline-block;
	text-align: center;
}
.service-row {
	margin-top: -100px !important;
	text-align: center;
}
.service-col {
	text-align: center;
	margin: 5px;
	background-color: #fff;
	border-radius: 5%;
	box-shadow: 5px 5px 3px #ebe9e9;
}

.service-col > h2 {
	height: 30px;
	margin-top: 10px;
}

.service-col > h4 {
	font-weight: 800;
	margin-top: 10px;
}
.service-icon {
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	width: 100%;
	height: 80px;
}
.service-img {
	width: 50px;
	height: auto;
	top: 50%;
}

.copy-right {
	height: 50px;
	background: #333333;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	color: #ebe9e9;
	margin-bottom: 0px;
}

.copy-text {
	line-height: 50px;
}

.service-ul {
	text-align: left !important;
}
.service-ul li {
	text-align: left !important;
}
.card-image {
	width: 100% !important;
	height: auto;
	text-align: center;
}

.contact-container {
	margin-top: 50px;
}
.carousel {
	width: 100%;
}

.carousel-inner .active.left {
	left: -25%;
}
.carousel-inner .next {
	left: 25%;
}
.carousel-inner .prev {
	left: -25%;
}
.carousel-control {
	width: 4%;
}
.carousel-control.left,
.carousel-control.right {
	margin-left: 15px;
	background-image: none;
}

footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}
.footer a {
	color: #f5f5f5;
}
.footer a:hover {
	color: #777;
	text-decoration: none;
}

.footer-service {
	margin-left: 1rem;
}

.form-control {
	border-radius: 0;
}
textarea {
	resize: none;
}

.footer-container {
	width: 100% !important;
	margin-top: 100px;
	margin-bottom: 0px;
}

.footer-category {
	margin-top: 30px;
}
.footer-logo {
	width: 60%;
}

.footer-icon {
	margin-right: 1.2rem;
}
.footer-line {
	width: 60%;
	align-items: center;
	border: 1px solid #fff;
}

.footer-social {
	margin: 0 10px 0 10px;
	font-size: 1.5rem !important;
	color: #f5f5f5;
	text-align: center;
}
.fa {
	font-size: 1.2rem;
}

.footer-table {
	margin-left: 20px;
}
.footer-table > tr {
	margin: 30px;
}

.footer-table > tr > td {
	margin: 10px 0;
}

.footer-td {
	text-align: center;
}
.font-bold {
	font-weight: bolder;
}

.aboutus-container {
	margin-top: 100px !important;
	margin-bottom: 30px;
}

.tech-container {
	position: relative;
	text-align: center;
	padding: 0;
	width: 100%;
	color: white;
	display: flex;
}

.tech-cover > h1 {
	font-size: 28px;
	color: #ffffff;
	font-weight: 400;
}
.tech-container > h2 {
	font-size: 24px;
	color: #ffffff;
	font-weight: 400;
}

.tech-row {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.tech-item {
	text-align: center;
}

.tech-col {
	text-align: center;
	align-items: center;
}

.tech-item-container {
	text-align: center;
	align-items: center;
	padding: 10px 20px 10px 20px;
	margin: 10%;
	box-sizing: border-box;
	border-radius: 10%;
	border: 1px solid #a5a5a4;
	transition: all 0.2s ease-in-out;
}

.tech-item-container:hover {
	background-color: rgba(244, 112, 30, 0.6);
	transform: scale(1.2);
	border: 0px;
}

.tech-background {
	width: 100%;
	height: auto;
	position: relative;
}

.tech-item-container > h3 {
	display: block;
}

.tech-image {
	width: 50px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.customer-container {
	margin-top: 50px !important;
	padding-left: 30% !important;
	text-align: center;
}

.quote-icon {
	width: 2rem;
	margin-bottom: 1rem;
}
.text-space {
	margin-top: 1rem;
}

.client-next {
	bottom: 0;
}
.cicle-icon {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.caption-container {
	top: 80px;
	right: 0px;
	left: 0px;
}

.caption-text > h1 {
	margin-top: 30%;
}
.caption-image {
	vertical-align: center;
	width: 85%;
	float: right;
}
.btn-info {
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

@media (max-width: 600px) {
	.nav-item {
		padding-left: 40% !important;
		color: #303030;
	}
	.navbar-logo {
		margin-left: 50px;
		margin-bottom: 5px;
		height: 20px !important;
		width: auto;
	}
	.service-card {
		width: 100%;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0 auto;
	}
	.card {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
		text-align: center;
	}
	.footer-logo {
		width: 20% !important;
	}
	.cicle-icon {
		display: none;
	}
	h1 {
		color: #fafafa;
		font-weight: 400 !important;
		font-size: 1rem;
		margin-bottom: 30px;
	}
	.caption-container {
		top: 30px !important;
		right: 0px;
		left: 0px;
	}
	.caption-text {
		margin-top: 20px;
		text-align: center;
	}

	.btn-info {
		text-size-adjust: 10px;
	}
}

*/
