/*========= Site Header =========*/
.site__header {
	background-color: #fff;
	padding: 1rem 0;
}

.site__header.shrink {
	-webkit-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
	box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
	padding: 0;
}

@media only screen and (max-width: 600px) {
	.site__header {
		padding: 0;
	}
	.site__header ul {
		max-width: 150px;
	}
	.site__header .navbar-brand {
		padding: 1rem 0;
	}
}

.site__header li {
	margin-right: 1rem;
	display: flex;
	flex-direction: column-reverse;
}

.site__header .hightlight {
	margin-top: 0;
	margin-bottom: 0;
	border: 2px solid white;
	border-radius: 5px;
}

.site__header li a {
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
}

.site__header li:hover a,
.site__header li a.active {
	color: #ff7200 !important;
}

.site__header li:hover .hightlight,
.site__header a.active ~ .hightlight {
	border: 2px solid #ff7200;
}
/*========= End Site Header =========*/

/*========= Site Hero Img =========*/
.site__hero-img {
	margin-top: 108px;
}

@media only screen and (max-width: 600px) {
	.site__hero-img {
		margin-top: 90px;
	}
}

.site__hero-img .carousel-caption {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
}

.site__hero-img .carousel-item img {
	max-height: 800px;
}

.site__hero-img .slogan {
	display: flex;
	align-items: center;
	justify-content: center;
}

.site__hero-img .slogan p {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 0;
}

.site__hero-img .slogan p:last-child {
	margin-top: 1.5rem;
	font-size: 2rem;
	padding: 1rem;
	border-radius: 0.25rem;
	background: #ff8002; /* Old browsers */
	background: -moz-linear-gradient(45deg, #ff8002 0%, #ff4001 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		45deg,
		#ff8002 0%,
		#ff4001 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		45deg,
		#ff8002 0%,
		#ff4001 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8002', endColorstr='#ff4001',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media only screen and (max-width: 600px) {
	.site__hero-img .slogan p,
	.site__hero-img .slogan p:last-child {
		font-size: 1rem;
	}
	.site__hero-img .slogan p:last-child {
		padding: 0.5rem;
		margin-top: 0.5rem;
	}
}
/*========= End Site Hero Img =========*/

/*========= Site Services =========*/
.site__services {
	position: relative;
}

.site__services > .row {
	width: 100%;
	margin-top: 2rem;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: flex;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.site__services > .row {
		margin-top: -4rem;
		-webkit-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
		box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
		border-radius: 2.5rem;
	}
}

@media only screen and (min-width: 992px) {
	.site__services > .row {
		width: 80%;
		padding: 3rem;
	}
}

@media only screen and (min-width: 1200px) {
	.site__services > .row {
		width: 70%;
	}
}

.site__services p {
	font-size: 0.8rem;
	color: rgba(65, 65, 65, 0.75);
	margin-bottom: 0;
}

.site__services .item {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site__services .item > div:first-child {
	height: 5rem;
}

@media only screen and (min-width: 768px) {
	.site__services .item > div:first-child {
		height: 4rem;
	}
}

.site__services .circle {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
	.site__services .circle {
		padding-top: 2rem;
		padding-bottom: 3rem;
	}
	.site__services .circle::before,
	.site__services .circle::after {
		display: inline-block;
		content: '';
		border-top: 0.1rem solid rgba(204, 204, 204, 0.75);
		width: 100%;
	}

	.site__services .item:first-child .circle::before,
	.site__services .item:last-child .circle::after {
		border: none;
	}
}
.site__services h4 {
	font-weight: bold;
}

.site__services p {
	padding-right: 1rem;
	padding-left: 1rem;
}
/*========= End Site Services =========*/

/*========= Site About Us =========*/
.section-no-bg {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

@media only screen and (min-width: 576px) {
	.section-no-bg {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
}

.site__about-us > .row > div:nth-child(2) {
	padding-left: 4rem;
	padding-right: 4rem;
}

@media only screen and (min-width: 576px) {
	.site__about-us > .row > div:nth-child(2) {
		padding-left: 5rem;
	}
}

.section-no-bg .title {
	flex-direction: column;
}

.section-no-bg .title h2 {
	margin-top: 1rem;
	text-transform: uppercase;
	letter-spacing: 4px;
}
/*========= End Site About Us =========*/

/*========= Site Technologies =========*/
.section-bg {
	padding: 2rem 0;
}

@media only screen and (min-width: 576px) {
	.section-bg {
		padding: 4rem;
	}
}

.section-bg h2 {
	font-weight: 600;
	color: white;
	text-align: center;
	font-size: 2rem;
}

@media only screen and (min-width: 576px) {
	.section-bg h2 {
		font-size: 3rem;
	}
}

.site__technologies {
	background-image: url('../images/10-tech-image.png');
}

.site__technologies img {
	max-height: 4rem;
}

@media only screen and (min-width: 576px) {
	.site__technologies img {
		max-height: 6rem;
	}
}

.site__technologies h3 {
	color: white;
	margin-top: 0.5rem;
	font-size: 1rem;
}

@media only screen and (min-width: 576px) {
	.site__technologies h3 {
		color: white;
		margin-top: 0.5rem;
		font-size: 1.75rem;
	}
}

.site__technologies > div {
	width: 80%;
	margin: auto;
}

.site__technologies .tech-item {
	text-align: center;
	padding: 1rem;
}

.site__technologies .tech-item div {
	cursor: pointer;
}

@media only screen and (min-width: 576px) {
	.site__technologies .tech-item div {
		padding: 2rem;
	}
}

.site__technologies .tech-item div:hover h3 {
	color: #ff7200;
}
/*========= End Site Technologies =========*/

/*========= Site Partners =========*/
.site__partners > div {
	padding: 0 4rem;
}

@media only screen and (min-width: 576px) {
	.site__partners > div {
		padding: 0;
	}
}

.site__partners .row.title {
	flex-direction: column;
}

.site__partners .item {
	margin: 0 1rem;
}

@media only screen and (min-width: 576px) {
	.site__partners .item {
		padding: 2rem;
		margin: 0 1rem;
	}
}

.site__partners .owl-carousel .owl-stage {
	display: flex;
}

.site__partners .owl-carousel .owl-item .item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site__partners .testimonials {
	margin-top: 4rem;
}

.site__partners .testimonials .owl-item img {
	width: auto;
}

.site__partners .testimonials .owl-item .row {
	margin-right: 0;
	margin-left: 0;
}

.site__partners .testimonials button {
	padding: 0.8rem 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	background-color: #fff;
	border-radius: 0.5rem;
	cursor: pointer;
}

@media only screen and (min-width: 576px) {
	.site__partners .testimonials button {
		padding: 1rem 1.5rem;
	}
}

@media only screen and (max-width: 576px) {
	.site__partners .testimonials p.client-info ~ div {
		text-align: center;
	}
}

.site__partners .testimonials button:hover {
	background: #ff8002; /* Old browsers */
	background: -moz-linear-gradient(45deg, #ff8002 0%, #ff4001 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		45deg,
		#ff8002 0%,
		#ff4001 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		45deg,
		#ff8002 0%,
		#ff4001 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8002', endColorstr='#ff4001',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.site__partners .testimonials button:hover i {
	color: white;
}

.site__partners .testimonials button i {
	color: rgb(65, 65, 65);
	font-weight: 200;
}

.site__partners .testimonials .owl-nav {
	display: none;
}

.site__partners .quote-icon {
	margin-bottom: 1rem;
}
/*========= End Site Partners =========*/

/*=========  Site Case Study =========*/
.site__case-study.section-bg {
	padding: 2rem 1rem;
}

@media only screen and (min-width: 576px) {
	.site__case-study.section-bg {
		padding: 4rem 3rem 10rem 3rem;
	}
}

.site__case-study {
	background-image: url('../images/10-tech-image.png');
}

.site__case-study .btns {
	justify-content: space-around;
	margin-bottom: 3rem;
}

.site__case-study .btns button {
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	padding-bottom: 0.5rem;
	outline: none;
	margin-top: 1rem;
}

.site__case-study .btns button:hover,
.site__case-study .btns button.active {
	border-bottom: 3px solid #ff7200;
}

.site__case-study .items {
	margin-top: -1rem;
}

.site__case-study .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

@media only screen and (min-width: 576px) {
	.site__case-study .item {
		padding: 0 3rem;
	}
}

.site__case-study .item > div {
	border-radius: 0.25rem;
	overflow: hidden;
}

.site__case-study .item > div:nth-child(2) {
	background-color: white;
	width: 80%;
	margin-top: -2rem;
	padding: 0.75rem;
	text-align: center;
}

@media only screen and (min-width: 576px) {
	.site__case-study .item > div:nth-child(2) {
		padding: 1rem;
	}
}

.site__case-study .item > div:nth-child(2) p:first-child {
	color: #ff7200;
	margin-bottom: 0;
	font-size: 0.7rem;
}

@media only screen and (min-width: 576px) {
	.site__case-study .item > div:nth-child(2) p:first-child {
		font-size: 0.8rem;
	}
}

.site__case-study .item > div:nth-child(2) p:nth-child(2) {
	font-size: 0.8rem;
	font-weight: 500;
	margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
	.site__case-study .item > div:nth-child(2) p:nth-child(2) {
		font-size: 1.2rem;
	}
}
/*========= End Site Case Study =========*/

/*========= Site Stats =========*/
.site__stats {
	margin-bottom: 1rem;
}

@media only screen and (min-width: 576px) {
	.site__stats {
		margin-bottom: 4rem;
	}
}

.site__stats .row {
	background-color: white;
	padding: 2rem 0;
}

@media only screen and (min-width: 576px) {
	.site__stats .row {
		margin-top: -4rem;
		-webkit-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
		box-shadow: 1px 4px 19px 0px rgba(50, 50, 50, 0.1);
		border-radius: 2.5rem;
	}
}
.site__stats .item {
	display: flex;
	justify-content: center;
	padding-bottom: 0.5rem;
}

.site__stats svg {
	width: 4rem;
	height: 6rem;
}

.site__stats .item:nth-child(2) svg {
	width: 5.5rem;
}

.site__stats .content {
	margin-left: 1rem;
}

.site__stats .item:nth-child(2) {
	border-left: 1px solid rgba(202, 202, 202, 0.404);
	border-right: 1px solid rgba(202, 202, 202, 0.404);
}
.site__stats .content p:first-child {
	color: #a5a5a5;
	margin-bottom: -0.5rem;
}

.site__stats .content p:nth-child(2) {
	font-size: 3rem;
	font-weight: 400;
}
/*========= End Site Stats =========*/

/*========= Site Form =========*/
.site__form button {
	background-color: #ff7200;
	border: none;
	padding: 0.5rem 1rem;
}

.site__form button:hover {
	background-color: #975722;
}
/*========= End Site Form =========*/

/*========= Site News =========*/
.site__news {
	background-image: url('../images/10-tech-image.png');
	max-height: 1000px;
}

@media only screen and (min-width: 576px) {
	.site__news {
		max-height: 450px;
	}
}

.site__news > div:nth-child(2) {
	margin-top: -1rem;
	z-index: 50;
}

.site__news .item {
	margin-top: 1rem;
}

.site__news .item > div:nth-child(2) {
	border: 1px solid #6d6d6d27;
	border-top: none;
	background-color: white;
	padding: 1.5rem;
}

.site__news .info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	color: rgba(114, 114, 114, 0.753);
}

.site__news .title h4 {
	font-weight: bold;
	margin-bottom: 1rem;
}

.site__news .content p {
	font-size: 0.8rem;
}

.site__news .footer {
	display: flex;
	justify-content: space-between;
}

.site__news .footer > div:first-child span {
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: bold;
	margin-right: 0.5rem;
	letter-spacing: 1px;
	color: rgb(2, 120, 255);
}

.site__news .footer > div:nth-child(2) i {
	color: rgb(145, 145, 145);
	cursor: pointer;
}

.site__news .footer > div:nth-child(2) i:hover {
	color: #ff7200;
}

.site__news ~ .after-bg {
	height: 40rem;
	background-color: #f3fbfe;
}

@media only screen and (min-width: 576px) {
	.site__news ~ .after-bg {
		height: 15rem;
		background-color: #f3fbfe;
	}
}
/*========= End Site News =========*/

/*========= Site Footer =========*/
.site__footer {
	background-color: #091b29;
	color: white;
}

.site__footer .social {
	padding: 3rem 1rem 0 1rem;
	justify-content: space-between;
	margin-top: -1rem;
}

@media only screen and (min-width: 576px) {
	.site__footer .social {
		padding: 3rem 0 0 0;
	}
}

.site__footer .social > div {
	margin-top: 1rem;
}

.site__footer .social-link > div {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #234663;
	cursor: pointer;
	margin-right: 0.5rem;
}

.site__footer .social-link a {
	color: #92a3b4;
	text-decoration: none;
}

.site__footer .social-link > div:hover {
	background-color: #ff7200;
}

.site__footer .social-link > div:hover a {
	color: white;
}

.site__footer hr {
	border-top: 0.5px solid #92a3b4b0;
	margin: 2rem 0;
}

.site__footer .contact {
	margin-bottom: 1rem;
}

.site__footer .contact ul {
	list-style-type: none;
	padding-left: 0;
}

.site__footer .contact li {
	font-size: 0.8rem;
	margin-bottom: 0.8rem;
	color: #92a3b4;
}

.site__footer .contact a {
	text-decoration: none;
	color: #92a3b4;
}

.site__footer .contact a:hover {
	color: white;
}
.site__footer > div:nth-child(2) {
	background-color: black;
}

.site__footer .copyright {
	justify-content: space-between;
	padding: 1rem 0;
	font-size: 0.8rem;
	color: #92a3b4;
}

.site__footer .copyright a {
	text-decoration: none;
	color: #92a3b4;
}

.site__footer .copyright span:first-child {
	margin-right: 1rem;
}

.site__footer .copyright span:hover a {
	color: white;
}
/*========= End Site Footer =========*/
html,
body {
	font-family: Montserrat, sans-serif;
	color: #000;
	overflow-x: hidden;
}

h1 {
	color: #fafafa;
	font-weight: 800;
	margin-bottom: 30px;
}
h2 {
	font-size: 24px;
	color: #303030;
	font-weight: 800;
	margin-bottom: 30px;
}
h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}